<!DOCTYPE html>
<html>
    <head>
        <title>Jordan Lanes</title>
    </head>
    <body>
        <h1>Jordan Lanes</h1>
        <h2>Set 'em up, knock 'em down</h2>
        <p>731 Jordan Parkway, Whitehall, PA 18052</p>
    </body>
</html>
