<!DOCTYPE html>
<html>
    <head>
        <title>Jordan Lanes</title>
    </head>
    <body>
        <h1>Jordan Lanes</h1>
        <h2>Set 'em up, knock 'em down</h2>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
